<!-- app/views/feedbacks/index.html.erb -->
<% content_for :content do %>  
  <style>
    .feedback-table {
      width: 80%;
      margin: 20px auto; /* Centra la tabla horizontalmente y agrega algo de margen superior e inferior */
      border-collapse: collapse;
    }
    .feedback-table th, .feedback-table td {
      border: 1px solid #ddd; /* Añade bordes a las celdas */
      padding: 8px;
      text-align: left;
    }
    .feedback-table th {
      background-color: #f2f2f2; /* Color de fondo para los encabezados de la tabla */
      color: #333;
    }
    
    .feedback_link {
      display: none;
    }
  </style>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.feedback_link').hide();
    });
  </script>

  <!-- app/views/feedbacks/index.html.erb -->
  <%= link_to 'Inicio', root_path, class: 'btn btn-secondary' %>

  <h1 style="text-align: center;">Feedbacks Recibidos</h1>

  <table class="feedback-table">
    <thead>
      <tr>
        <th>Email del suario</th>
        <th>Numero de ticket</th>
        <th>¿Problema Resuelto?</th>
        <th>Calificación del Asesor</th>
        <th>Comentarios</th>
      </tr>
    </thead>
    <tbody>
      <% @feedbacks.each do |feedback| %>
        <tr>
        	<td><%= User.find(feedback.user_id).email %></td>
          <td><%= Ticket.find(feedback.ticket_id).number %></td>
          <td><%= feedback.problem_solved ? 'Sí' : 'No' %></td>
          <td><%= feedback.advisor_rating %></td>
          <td><%= feedback.comments %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end -%>