<!-- Botón para abrir el modal -->
<button id="feedbackButton" class="btn btn-primary">Dejar Feedback</button>

<!-- Modal Structure -->
<div id="feedbackModal" class="modal_feedback" style="display:none;">
  <div class="modal-content">
    <%= form_with(model: @feedback, local: true) do |form| %>
      <div>
        <label>¿Se solucionó el problema?</label>
        <%= form.select :problem_solved, [['Sí', true], ['No', false]], {}, { class: 'form-control' } %>
      </div>

      <div>
        <label>Calificación del asesor (1 al 5):</label>
        <%= form.number_field :advisor_rating, in: 1..5, step: 1, class: 'form-control' %>
      </div>

      <div>
        <label>Comentarios:</label>
        <%= form.text_area :comments, class: 'form-control' %>
      </div>

      <div>
        <%= form.submit 'Enviar', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>

<style type="text/css">
  /* Estilo para el fondo del modal */
.modal_feedback {
  display: none; /* Oculto por defecto */
  position: fixed; /* Se mantiene en su lugar incluso al desplazar la página */
  left: 0;
  top: 0;
  width: 100%; /* Ancho completo */
  height: 100%; /* Alto completo */
  overflow: auto; /* Habilita scroll si es necesario */
  background-color: rgb(0,0,0); /* Color de fondo */
  background-color: rgba(0,0,0,0.4); /* Negro con opacidad */
}

/* Estilo para el contenido del modal */
.modal-content {
<%#   background-color: #fefefe; %>
  margin: 15% auto; /* 15% desde la parte superior y centrado horizontalmente */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Podrías ajustar a tu gusto */
}

/* Estilo para el botón de cerrar */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

</style>

<script type="text/javascript">
	document.addEventListener('DOMContentLoaded', function() {
	  // Abrir modal
	  $('#feedbackButton').on('click', function() {
	    $('#feedbackModal').show();
	  });

	  // Opcional: Cerrar modal al hacer clic fuera de él
	  $(window).on('click', function(event) {
	    let modal = $('#feedbackModal');
	    if (event.target === modal[0]) {
	      modal.hide();
	    }
	  });
	});

</script>